$size: 30px;

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Black.ttf);
    font-family: 'JosefinSans';
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
    font-family: 'NothingYouCouldDo-Regular';
    src: url(../fonts/NothingYouCouldDo-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Poppins';

}


header {
    background-color: black;
    font-family: 'JosefinSans';
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-rows: 70px;

    div {

        div {
            padding-left: 270px;

            img {
                width: $size;
            }

            >span {
                color: white;
                font-size: $size;
            }

            span:nth-child(1) {
                color: rgba(251, 185, 64, 0.908);
                font-size: $size*0.5;
                letter-spacing: 4px
            }

        }
    }

}


nav {
    height: $size*2;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: black;
    padding: $size/1.5;
}

section {

    .carousel-inner {
        width: 100%;
        height: 900px;
    }

    #carousel-element1 {
        width: 100%;
        height: 900px;
        background: url("../img/bg_1.jpg") top center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        align-items: center;

        div:nth-child(1) {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-self: center;
            font-size: 25px;

            >p {
                font-size: 29px;
                text-align: end;
                color: white;
                grid-column: 1/5;
            }

            >p:nth-of-type(1) {
                font-size: 30px;
                color: orange;
                font-family: 'NothingYouCouldDo-Regular';
                grid-column: 1/5;
            }

            button {
                width: 90%;
                height: 53%;
            }

            button:first-of-type {
                grid-column: 3/3;
                background-color: orange;
                border: 1px solid orange;
            }

            button:last-of-type {
                color: white;
                background-color: transparent;
                border: 1px solid white;
            }
        }

        div:nth-child(2) {
            img {
                width: 35vw;
                object-fit: cover;
            }
        }
    }

    #carousel-element2 {
        width: 100%;
        height: 900px;
        background: url("../img/bg_1.jpg") top center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        align-items: center;
        justify-items: end;

        div:nth-child(1) {
            img {
                width: 35vw;
                object-fit: cover;
            }
        }

        div:nth-child(2) {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-self: center;
            font-size: 25px;
            justify-items: start;

            >p {
                font-size: 29px;
                text-align: end;
                color: white;
                grid-column: 1/5;
                text-align: start;
            }

            >p:nth-of-type(1) {
                font-size: 30px;
                color: orange;
                font-family: 'NothingYouCouldDo-Regular';
                grid-column: 1/5;
            }

            button {
                width: 90%;
                height: 53%;
            }

            button:first-of-type {
                grid-column: 1/2;
                background-color: orange;
                border: 1px solid orange;
            }

            button:last-of-type {
                color: white;
                background-color: transparent;
                border: 1px solid white;
            }
        }

    }

    #carousel-element3 {
        width: 100%;
        height: 900px;
        background: url("../img/bg_3.jpg") top center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5px;
        align-items: center;
        justify-items: center;
        padding: 250px;

        >p {
            color: white;
            grid-column: 1/3;
            text-align: center;
        }

        >p:nth-of-type(1) {
            font-size: 30px;
            color: orange;
            font-family: 'NothingYouCouldDo-Regular';
        }

        >p:nth-of-type(2) {
            font-size: 50px;
            text-align: center;
        }

        >p:nth-of-type(3) {
            font-size: 29px;
            text-align: center;
        }

        button {
            width: 20%;
            height: 75%;
        }

        button:first-of-type {

            background-color: orange;
            border: 1px solid orange;
            margin-left: 80%;
        }

        button:last-of-type {
            color: white;
            background-color: transparent;
            border: 1px solid white;
            margin-right: 80%;
        }

    }
}

aside {
    position: relative;
    display: grid;
    justify-items: center;
    width: 100%;
    height: 650px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1.5)), url("../img/bg_2.jpg") top center;


    >img {
        width: 100%;
        height: 100%;

    }

    #firstblock {
        position: absolute;
        top: 10px;
        left: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        img {
            width: 100%;
            height: 100%;
            // object-fit: cover;
        }
    }

    #secondblock {
        position: absolute;
        top: 350px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 50px;
        margin: 0;
        text-align: center;

        div {
            width: 160px;

            >img {
                width: 50px;
                border: 1px solid orange;
            }

            >p:nth-child(even) {
                font-size: 25px;
                color: orange;
                padding-top: 10px;
            }

            >p:nth-child(odd) {
                color: white;
            }
        }
    }


}




article {
    display: grid;
    grid-template-columns: 3fr 4fr;
    justify-items: center;
    width: 100%;
    height: 650px;
    background: url("../img/bg_4.jpg") top center;

    #about {
        width: 85%;
        height: 90%;
    }

    #upperblock {
        color: orange;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        margin-top: 15px;
        margin-bottom: 15px;

        div {
            border: 2px solid orange;
            margin: 15px;
            padding-top: 5px;
            text-align: center;
            vertical-align: baseline;
            align-self: center;
            justify-self: self-start;
            width: 75%;
            height: 75%;
            font-size: 20px;
        }

        div:first-child {
            color: black;
            background-color: orange;
        }
    }

    #bottomblock {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;

        img {
            width: 150px;
            height: 125px;
            border-radius: 100%;
        }

        >div {
            width: 100%;
            text-align: center;


            p:first-of-type {
                color: white;
                font-size: 25px;
                font-family: 'JosefinSans';
                text-align: center;
            }

            p:nth-of-type(2) {
                color: gray;
                font-size: 21px;
                text-align: center;
            }

            p:last-of-type {
                color: orange;
                font-size: 25px;

                text-align: center;
            }

            button {
                background-color: black;
                color: white;
                border: 1px solid white;
                padding: 12px;
            }
        }
    }



}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 0.3fr 2fr; //+
    grid-template-rows: 2fr repeat(5, 1fr);
    justify-items: center;
    // width: 100%;
    // height: 300px;
    background: url("../img/bg_4.jpg") top center;
    color: white;
    justify-items: start;
    gap: 5px 25px;
    padding: 150px 150px;


    a:nth-of-type(2) {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    a:nth-of-type(4) {
        grid-column-start: 5;
        grid-column-end: 7;
    }

    .firstblockfooter {
        color: white;
        text-decoration: none;
        font-size: 25px;
        margin-bottom: 10px;
    }

    >p:first-of-type {
        font-size: 25px;
        grid-row-start: 2;
        grid-row-end: 6;
        color: grey;
    }

    p:nth-of-type(2) {

        grid-row-start: 2;
        grid-row-end: 3;

    }

    p:nth-of-type(3) {
        font-size: 15px;
        grid-row-start: 2;
        grid-row-end: 4;
        color: grey;
    }

    .imagblog {
        width: 100%;
        height: 100%;
        grid-row-start: 2;
        grid-row-end: 4;

    }

    .havequestion {
        width: 35%;
        padding: 33%;
    }

    .servicecolumn {
        color: grey;
    }

    #deliliver {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    div {
        width: 98%;
        height: 63%;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;

        img.calendar {
            width: 6%;
            height: 60%
        }

        p {
            color: gray;

        }
    }

    >img:nth-of-type(3) {

        width: 100%;
        height: 100%;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    div#logo img {
        width: 25px;
        background-color: black;
        // padding: 10px;
        border-radius: 6px;
    }

    #footerend {
        grid-column-start: 1;
        grid-column-end: 7;
        margin: auto;
        padding-top: 35px;
    }
}